<div class="parent-div">
    <img 
        [src]="this.profile()?.image?.url" 
        [width]="this.profile()?.image?.width" >
    <div class="info-grid-div">
        <div id="account-id-label">Account ID</div>      
        <div id="account-id-data"> {{ this.profile()?.account_id }} </div>

        <div id="country-label">Country </div>        
        <div id="country-data"> {{ this.profile()?.country }} </div>

        <div id="display-name-label">Display Name </div>   
        <div id="display-name-data"> {{ this.profile()?.display_name }} </div>

        <div id="email-label">Email </div>          
        <div id="email-data"> {{ this.profile()?.email }} </div>

        <div id="id-label">ID </div>                  
        <div id="id-data"> {{ this.profile()?.id }} </div>
    </div>
</div>
